.blur{
    color: ffffff;
    text-align: center;
    font-size: 32px;
    background:url(images/top.png) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  
  .blur:before{
    content: '';
    background: inherit;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    position: absolute;
  }

#wrapper{
margin:0 auto;
padding:0 1%;
width:98%;
position:relative;
}

.gridWrapper{
padding-bottom:20px;
overflow: hidden;
}

* html .gridWrapper{height:1%;}

.gridWrapper img{
max-width:100%;
height:auto;
}

/* PC用 */
@media only screen and (min-width:960px){	
	#wrapper,.inner{
	width:940px;
	padding:0;
	}
	
	#wrapper{padding-bottom:20px;}
	
	/* グリッド全体 */
	.gridWrapper{
	width:960px;
	margin:0 0 0 -20px;
	}
}
